<header class="d-flex justify-content-center py-3 border-bottom">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
    {{#if user.eAdmin}}
    <li class="nav-item"><a href="/categorias" class="nav-link">Categorias</a></li>
    <li class="nav-item"><a href="/postagens" class="nav-link">Postagens</a></li>
    {{else}}
    <li class="nav-item"><a href="/usuario/login" class="nav-link">Login</a></li>
    <li class="nav-item"><a href="/usuario/register" class="nav-link">Register</a></li>
    {{/if}}
  </ul>
</header>